#version=DEVEL
# X Window System configuration information
xconfig  --startxonboot
# License agreement
eula --agreed
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
# System services
services --enabled="chronyd"
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8 --addsupport=hi_IN.UTF-8

ignoredisk --only-use=sda
# Network information
network  --bootproto=static --device=enp0s31f6 --gateway=10.0.64.1 --ip=10.0.64.250 --nameserver=10.0.136.7 --netmask=255.255.254.0 --ipv6=auto --activate
network  --bootproto=dhcp --hostname=ginzburg.iitgn.ac.in

# Root password
rootpw --iscrypted $6$Z8YfX3gNn/TX4gVz$fNLU2mFv1DN6av7IYKJxVJCh3.F.gNu6PqPyjCvZ7PEHnK1YBU4tk8fAbCPzr1AmYk9QBegSlSyEiJMqweWFM.
# System timezone
timezone Asia/Kolkata --isUtc
user --groups=wheel --name=master --password=$6$WR5oS./PsoGKwWkm$ivDaBi2243G6J4nXwVOJf64a1b7EfOmHVi6fmqqbnovllKVF6d0iJyU8dNYU42v5/G4suZFSfqNm6zW5Hnbxw1 --iscrypted --gecos="Administrator"
# System bootloader configuration
bootloader --location=mbr --boot-drive=sda
autopart --type=lvm
# Partition clearing information
clearpart --all --initlabel --drives=sda

%packages
@^kde-desktop-environment
@base
@compat-libraries
@core
@desktop-debugging
@development
@dial-up
@directory-client
@fonts
@guest-agents
@guest-desktop-agents
@input-methods
@internet-applications
@internet-browser
@java-platform
@kde-apps
@kde-desktop
@kde-media
@legacy-x
@multimedia
@network-file-system-client
@networkmanager-submodules
@office-suite
@print-client
@security-tools
@x11
chrony

%end

%addon com_redhat_kdump --disable --reserve-mb=auto
%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
